html {
  background: rgb(21, 21, 21);
  color: #fff;
  font: 600 14px 'Segoe UI', Ubuntu, "Helvetica Neue", Sans-Serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}
.icons img {
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #fff;
  border-radius: 4px;
}

li {
  margin-bottom: 5px;
}

a {
  color: #F72826; /* #79ff97 */
}

img {
  max-width: 100%;
}