html {
  background: rgb(21, 21, 21);
  color: #fff;
  font: 16px 'Segoe UI', Ubuntu, "Helvetica Neue", Sans-Serif;
  line-height: 1.5em;
}

.hljs {
  background: rgb(21, 21, 21) !important;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15px;
}
.icons img {
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #fff;
  border-radius: 4px;
}

li {
  margin-bottom: 5px;
}

a {
  color: #39d353; /* #79ff97 */
}

img {
  max-width: 100%;
}