@layer reset, base, tokens, recipes, utilities;

html {
  background: #2a303c;
  color: #fff;
}

a {
  color: #39d353;
}

p {
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin: 16px 0;
}

ul {
  margin-left: 16px;
  margin-bottom: 16px;
}

li {
  margin-bottom: 8px;
  list-style-type: disc;
}

blockquote {
  margin-bottom: 16px;
  background: #2a303c;
  border-left: 8px solid #fff;
  padding: 0 16px;
  quotes: '\201C' '\201D' '\2018' '\2019';
}

blockquote:before {
  color: #fff;
  content: open-quote;
  font-size: 4em;
  line-height: 16px;
  margin-right: 0.25em;
  vertical-align: -0.5em;
}

hr {
  border-color: #373c48;
  margin-bottom: 16px;
}
